body {
  font-family: sans-serif;
  background-color: #c4c7bf;
}

input {
  border-radius: 5px;
  border: none;
  padding: 6px 16px;
  outline: none;
  margin: 5px;
  width: 30px;
}

button {
  border-radius: 8px;
  background-color: #bffcd8;
  border: none;
  padding: 3px px;
  margin: 0 5px;
  border: 1px solid #1a1a1a;
}

button:hover {
  background-color: #7cfc00;
  color: #ca3434;
  cursor: pointer;
}

li {
  margin-right: 1px;
}

.header {
  text-align:left;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.input-area {
  background-color: #858686;
  width: 300px;
  height: 40px;
  /* padding: 8px; */
  margin: 8px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.monthAttendance-area {
  background-color: #626464;
  width: 500px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.dayAttendance-list {
  background-color: #ffffff;
  width: 400px;
  height: 26px;
  /* padding: 8px; */
  margin: 0 5px 0 5px;
  border-Radius: 4px;
  list-style: none;
  border: 1px solid #1a1a1a;
}

.dayAttendance-day {
  display: inline-block;
  width: 60px;
  text-align: right;
}

.dayAttendance-status {
  display: inline-block;
  width: 70px;
}

.dayAttendance-time {
  display: inline-block;
  width: 60px;
}

.dayAttendance-timeButton {
  background-color: rgb(161, 167, 245);

}